
DATABASE_URL="postgresql://jcsoftdev:12345@host.docker.internal:5432/inmobiliaria"

DATABASE_PROVIDER="postgresql"

DATABASE_SERVICE_PORT=3001
USER_MANAGEMENT_SERVICE_PORT=3002
GATEWAY_PORT=3000
PROPERTIES_SERVICE_PORT=3003
NODE_ENV=development

JWT_SECRET='mCttPz5bdMgLXGGoNXxko7iwxYkBpXXv4GRk1mMX5ynkEgmweHXri887oyYS7Dn8
ffnZUcHAiZMak7hpvJ4+sg=='
JWT_REFRESH_SECRET='corQaEp+6H/XS1wdS/feunNDB+/RVxVsF4I54JtiXcC9A7cYE0epfk+O9y6kETj6
dW5FG8e71JaE0jcKLk1b5g=='

